* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: 'OpenSans-R', sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
}

html {
    scroll-behavior: smooth;
}

.body__container {
    max-width: 1920px;
    margin: 0 auto;
}

.container-block {
    padding: 0 160px;
    margin: 0 auto;
}

@font-face {
    font-family: 'OpenSans-R';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'OpenSans-SB';
    src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'), url('../fonts/OpenSans-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'OpenSans-B';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.woff') format('woff');
}

button {
    outline: none;
    border-radius: 100px;
    text-align: center;
}

.button__transparent {
    border: 3px solid transparent;
}

.button__transparent:focus {
    border: 2px solid #9D5CD0;
    background: transparent;
    background-clip: padding-box;
    box-shadow: 0 0 0 2px white, 0 0 0 4px #7943A4;
}

.button__transparent:hover {
    background: #9D5CD0;
    color: #FFFFFF;
}

.button__transparent:active {
    background: #7943A4;
    border: 2px solid #D1A9F0;
    color: #FFFFFF;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:focus {
    border: 2px solid #7943A4;
}

a:hover {
    color: #C283F3;
    ;
}

a:active {
    color: #7943A4;
}

a:focus {
    outline: none;
}

input:focus {
    outline: none;
}

button {
    border: none;
}

.header__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__div--black {
    background-color: #000000;
    color: #FFFFFF;
}

.header-nav {
    margin-right: 107px;
}

.header--wrapper-nav-a {
    display: flex;
}

.header__li--close-menu {
    display: none;
}

.btn-reset {
    display: none;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
  }

  .burger {
    position: relative;
    width: 49px;
    height: 36px;
  }

  .burger__line {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #fff;
  }
  
  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    width: 78%;
  }
  
  .burger__line:nth-child(3) {
    width: 66%;
    top: auto;
    bottom: 0;
  }

.header__svg--logo {
    width: 173px;
    height: 100px;
}

.header__svg--loupe {
width: 23px;
height: 23px;
}

.header__ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__li--black:not(:last-child) {
    margin-right: 47px;
}

.header__li--a {
    font-size: 18px;
    padding: 2px 6px;
    border: 2px solid #000000;
    transition: 0.3s;
}

.header__a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 2px 6px;
    border: 2px solid #000000;
}

.header__svg--go {
    width: 13px;
    height: 13px;
    margin-right: 5px;
}

.header__svg--go > use {
    fill: #FFFFFF;
}

.header__a:hover .header__svg--go > use {
    fill: #C283F3;
}

.header__a:active .header__svg--go > use {
    fill: #9D5CD0;
}

.header__div--gray {
    position: relative;
    z-index: 1;
    height: 70px;
    background: rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
}

.header__li--gray:focus {
    border: 2px solid #C283F3;
    outline: none;
}

.header__li--gray:active {
    border: 2px solid #7943A4;
}

.header__li--gray {
    border: 2px solid transparent;
    z-index: 10;
    position: relative;
}

.header__li--gray:not(:last-child) {
    margin-right: 81px;
}

.header__svg--search {
    width: 35px;
    height: 35px;
    fill: white;
    border: 2px solid transparent;
    padding: 4px;
}

.header__svg--search:focus {
    border: 2px solid #7943A4;
    outline: none;
}

.header__div--nav-margin {
    margin-top: 7px;
}

.header__div--input {
    background-color: transparent;
    border-color: transparent;
    outline: none;
    color: #FFFFFF;
}

.header__div--input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid transparent;
    padding: 3px;
    z-index: 100;
}

.header__div--input-wrapper-1 {
    display: none;
}

.header__div--input-wrapper:focus {
    outline: none;
    border: 2px solid #7943A4;
    padding: 3px;
}

.header__div--input-wrapper:hover::after {
    background-color: #C283F3;
}

.header__svg--loupe > use {
    fill: #ffffff;
}


.header__div--input-wrapper:hover .header__svg--loupe > use {
    fill:#C283F3;
}

.header__div--input-wrapper::after {
    content: "";
    width: 118px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
    margin-bottom: -30px;
    margin-left: 15px;
}

.header__div--svg {
    position: relative;
}

.header__div--input::placeholder {
    color: rgba(255, 255, 255, 0.85);
}

.header__div--input:focus {
    border: 2px solid #7943A4;
    padding: 6px 0;
}

/*select*/

.choices__inner {
    background-color: transparent;
    border: none;
    padding: 0;
}

.choices__inner:focus {
    outline: none;
}

.choices__placeholder {
    opacity: 1;
    color: #FFFFFF;
    font-size: 18px;
}

.choices__list.choices__list--dropdown {
    background-color: transparent;
}

.choices__list--dropdown .choices__item--selectable {
    padding: 0;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background: rgb(63, 62, 62);
    ;
}

.header__li--gray>.choices::after {
    content: '';
    height: 8px;
    width: 8px;
    border-width: 0;
    transform: rotate(-45deg) translate(12px, 2px);
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.choices.is-open:after {
    transform: rotate(135deg) translate(-8px, -8px);
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.header__div .choices__list.choices__list--single:focus {
    border: 2px solid #9D5CD0;
    outline: none;
}

.header__div .choices__list.choices__list--single:hover .choices__placeholder {
    color: #9D5CD0;
}

.header__div .choices__list.choices__list--single:active .choices__placeholder {
    color: #7943A4;
}

.header__li--gray:hover div.choices::after {
    border-left: 1px solid #9D5CD0;
    border-bottom: 1px solid #9D5CD0;
}

.header__li--gray:active div.choices::after {
    border-left: 1px solid #7943A4;
    border-bottom: 1px solid #7943A4;
}

.header__li--gray>.choices>div.choices__list.choices__list--dropdown.is-active {
    text-align: center;
}

#selectCustom>div.choices__list.choices__list--single~div.choices__list--single.choices__item {
    margin-right: 10px;
}

/*section-hero*/

.section-hero {
    background-image: url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    margin-top: -70px;
    position: relative;
    color: #FFFFFF;
    padding-top: 140px;
    animation: zooming-bg 5000ms forwards;
}

 @keyframes zooming-bg {
    0% {
        background-size: 100%;
    }
    
    50% {
      background-size: 200%;
    }

    100% {
      background-size: 100%;
    }
  } 

.section-hero__h1 {
    max-width: 550px;
    margin: 0;
    font-weight: bold;
    font-size: 72px;
    line-height: 83px;
}

.section-hero__p {
    max-width: 530px;
    margin-bottom: 92px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
}

.section-hero__button {
    width: 314px;
    height: 70px;
    font-size: 18px;
    background: #9D5CD0;
    color: #FFFFFF;
    border: 3px solid transparent;
}

.section-hero__button:focus {
    border: 3px solid transparent;
    background-clip: padding-box;
    box-shadow: 0 0 0 1px #C283F3;
}

.section-hero__button:hover {
    border: 3px solid #D1A9F0;
}

.section-hero__button:active {
    background: #7943A4;
    border: 3px solid #D1A9F0;
}

.section-hero__button-wrapper {
    border: 2px solid transparent;
    display: inline-block;
    border-radius: 100px;
    padding: 2px;
}

.section-hero__button:focus .section-hero__button-wrapper {
    border: 2px solid red;
}

/*about*/

h2 {
    font-size: 48px;
    line-height: 65px;
    margin-top: 80px;
}

.about__h2 {
    color: #333333;
}

.about__p {
    max-width: 1080px;
    margin: 16px 0 70px 0;
}

/*gallery*/

.gallery {
    background-image: url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 3\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    height: 996px;
    color: #FFFFFF;
    padding-top: 80px;
}

.gallery__svg {
    width: 30px;
    height: 30px;
}

.gallery__left-part {
    width: 25%;
    height: 847px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.gallery__p--download {}

.gallery__h2 {
    margin-top: 0;
    margin-bottom: 16px;
}

.gallery__a {
    color: #9D5CD0;
}

.gallery__p--filter {
    margin-bottom: 10px;
}

.gallery__left-part>div>.choices>div.choices__list.choices__list--dropdown.is-active {
    border-radius: 6px;
    margin-top: -8px;
}

.gallery__left-part>div>.choices>div.choices__list.choices__list--dropdown.is-active div.choices__list>div {
    padding: 0 20px;
}

#gallerySelect~div.choices__list.choices__list--single {
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    padding: 0 15px;
    height: 41px;
}

#gallerySelect~div.choices__list.choices__list--single > div.choices__item.choices__placeholder.choices__item--selectable {
    font-size: 16px;
    margin-top: 3px;
}

#gallerySelect~div.choices__list.choices__list--single:hover .choices__placeholder {
    color: #FFFFFF;
}

#gallerySelect~div.choices__list.choices__list--single:active .choices__placeholder {
    color: #FFFFFF;
}

#gallerySelect~div.choices__inner {
    border: 1px solid #FFFFFF;
}

#gallerySelect~div.choices__list.choices__list--dropdown {
    background: transparent;
    border: 1px solid #999999;
    color: #999999;
}

.gallery__left-part>div>div.choices::after {
    content: '';
    height: 7px;
    width: 7px;
    border-width: 0;
    transform: rotate(-45deg) translate(0px, -7px);
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.gallery__left-part>div>div.choices.is-open:after {
    transform: rotate(135deg) translate(0px, -3px);
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

/*swiper*/

.gallery__right-part {
    width: 73%;
}

.swiper-1 {
    width: 100%;
    height: 100%;
}

div.swiper-pagination.swiper-pagination-1, div.swiper-pagination.swiper-pagination-2 {
    color: #FFFFFF;
    position: relative;
    text-align: left;
    margin-left: 58px;
    margin-top: 25px;
}

.gallery-swiper-slide {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    height: calc((100% - 30px) / 2);
}

.gallery-swiper-slide > img {
    width: 100%;
    max-width: 350px;
}

.gallery-swiper-slide > img:first-child {
    margin-bottom: 50px;
}

div.swiper-style > div.swiper-button-prev-1, div.swiper-button-next-1, div.swiper-style > div.swiper-button-prev-2, div.swiper-button-next-2, div.swiper-style > div.swiper-button-prev-3, div.swiper-button-next-3 {
    position: absolute;
    top: 15px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin: 0;
    width: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #666666;
}

div.swiper-style > div.swiper-button-next-1, div.swiper-style > div.swiper-button-next-2{
    left: 120px;
}

.swiper-button-prev-1::after, .swiper-button-next-1::after, .swiper-button-prev-2::after, .swiper-button-next-2::after, .swiper-button-prev-3::after, .swiper-button-next-3::after {
    content: '-';
}

.swiper-button-prev-1::after, .swiper-button-prev-2::after, .swiper-button-prev-3::after {
    width: 7px;
    height: 7px;
    border-top: 1px solid#FFFFFF;
    border-right: 1px solid #FFFFFF;
    position: absolute;
    background: transparent;
    transform: translate(1px, 1px) rotate(-135deg);
}

.swiper-button-next-1::after, .swiper-button-next-2::after, .swiper-button-next-3::after {
    width: 7px;
    height: 7px;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    position: absolute;
    background: transparent;
    transform: translate(-1px, 1px) rotate(45deg);
}

div.swiper-button-prev-1:active, div.swiper-button-next-1:active, div.swiper-button-prev-2:active, div.swiper-button-next-2:active, div.swiper-button-prev-3:active, div.swiper-button-next-3:active {
    outline: none;
    border: 2px solid #7943A4;
}

div.swiper-button-prev-1:focus, div.swiper-button-next-1:focus, div.swiper-button-prev-2:focus, div.swiper-button-next-2:focus, div.swiper-button-prev-3:focus, div.swiper-button-next-3:focus {
    background: #7943A4;
    border: 2px solid #D1A9F0;
    outline: none;
}

div.swiper-style > div.swiper-button-prev-1:hover, div.swiper-button-next-1:hover, div.swiper-style > div.swiper-button-prev-2:hover, div.swiper-button-next-2:hover, div.swiper-style > div.swiper-button-prev-3:hover, div.swiper-button-next-3:hover {
    background: #9D5CD0;
}

/*catalog*/

.catalog {
    padding-top: 80px;
}

.catalog__h2 {
    display: inline;
    margin-top: 0;
}

.catalog__half--left-part--tab-content {
    display: none;
  }
  
.catalog__half--left-part--tab-content-active {
    display: flex;
  }

.catalog__half--right-part {
    margin-left: 20px;
}

.catalog__wrapper-h2-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 41%;
    margin-bottom: 17px;
}

.catalog--wrapper-img {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog__img:hover {
    box-shadow: 0px 0px 20px rgba(157, 92, 208, 0.7);
    border-radius: 30px;
}

.catalog__img:active {
    border: 2px solid #9D5CD0;
    padding: 5px;
}

.catalog__img:focus {
    outline: none;
    border: 2px solid #9D5CD0;
    border-radius: 30px;
}

.catalog__p {
    max-width: 1080px;
}

.tab-content {
    display: none;
  }
  
.tab-content-active{
    display: flex;
}

.tab-content-artist {
      display: none;
  }

.tab-content-active-artist{
    display: block;
}

.catalog__half {
    width: 50%;
}

.catalog__half--left-part {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    margin-right: 20px;
    background-position: center;
    background-image: url(../img/image\ 3.jpg);
}

.catalog__half--left-part-empty {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    margin-right: 20px;
    background-color: #C283F3;
}

.catalog__half--left-part-container {
    flex-direction: column;
}


h3 {
    font-size: 24px;
    line-height: 33px;
}

.catalog__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.catalog__half--p-date {
    font-size: 12px;
    line-height: 16px;
    color: #999999;
    margin-bottom: 5px;
}

.catalog__half--p-description {
    max-width: 730px;
}

.catalog__h3--name {
    margin-bottom: 10px;
}

/*accordion*/

#accordion {
    height: auto;
}

.accordion-container.ui-accordion-header.ui-corner-top.ui-state-default.ui-accordion-icons.ui-accordion-header-collapsed.ui-corner-all {
    display: flex;
    background: transparent;
    color: #333333;
    border-radius: 0;
    border: none;
    padding: 0;
    border-top: 1px solid #CACACA;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: none;
}

div.ui-accordion .ui-accordion-header {
    display: flex;
    color: #333333;
}

div.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background: transparent;
}

.catalog__accordion-h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.accordion-height {
    height: auto;
}

.accordion-div-border {
    border-bottom: 1px solid #CACACA;
}

.accordion-p-faq.accordion-height.ui-accordion-content.ui-corner-bottom.ui-helper-reset.ui-widget-content {
    height: auto;
    max-width: 1003px;
    padding-top: 15px;
}

.accordion-container.ui-accordion-header.ui-corner-top.ui-state-default.ui-accordion-icons.ui-accordion-header-active.ui-state-active.ui-state-hover {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    color: #333333;
}

.accordion-p-faq.accordion-height.ui-accordion-content.ui-corner-bottom.ui-helper-reset.ui-widget-content.ui-accordion-content-active {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    padding: 0;
}

.accordion-container:focus {
    outline: none;
}

div.accordion-container.ui-state-hover.ui-accordion-header-active.ui-state-active {
    outline: none;
    border-top: 1px solid#9D5CD0;
}

div.accordion-container.ui-state-hover.ui-accordion-header-active.ui-state-active~p~div.accordion-container.ui-accordion-header.ui-corner-top.ui-accordion-header-collapsed.ui-corner-all.ui-state-default.ui-accordion-icons {
    border-top: none;
}

div.accordion-container.ui-state-hover~.accordion-p-faq.accordion-height.ui-accordion-content.ui-corner-bottom.ui-helper-reset.ui-widget-content.ui-accordion-content-active {
    border-bottom: 1px solid#9D5CD0;
}

.accordion-container:focus>div.read-more {
    background-color: #D2D2D2;
}

.accordion-container:hover .read-more {
    background: #D2D2D2;
}

.accordion-p-faq {
    padding-bottom: 40px;
}

.accordion-container:focus+div.accordion-container {
    border-top: none;
}

.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-e, .ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-s {
    display: none;
}

.accordion-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #CACACA;
    cursor: pointer;
}

.accordion-div-flex.ui-accordion-header.ui-corner-top.ui-accordion-header-collapsed.ui-corner-all.ui-state-default.ui-accordion-icons {
    background-color: #ffffff;
}

.catalog__read-more {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin: 0;
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ECECEC;
    transition: 0.3s;
}

.catalog__read-more:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 1px;
    transform: translate(-4px, 2px) rotate( 45deg);
    background: #222222;
}

.catalog__read-more:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 12px;
    border-radius: 0;
    background: #222222;
    transform: translate(4px, 2px) rotate( 45deg);
}

.accordion-container:focus .catalog__read-more {
    transform: rotate(180deg);
}

.accordion-div-flex {
    display: flex;
    width: 100%;
    height: 340px;
    flex-wrap: wrap;
    flex-direction: column;
}

.accordion-div-flex > a {
    color: #333333;
    margin: 5px 0;
    width: 200px;
    line-height: 24px;
}

.accordion-div-flex>span>a:hover {
    color: #9D5CD0;
    border-bottom: 2px solid #9D5CD0;
}

.accordion-div-flex>span>a:active {
    color: #7943A4;
}

.accordion-div-flex>span>a {
    color: #333333;
    display: block;
    line-height: 33px;
}

/*events*/

.events__wrapper-div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 700px;
    overflow: hidden;
    margin-top: 17px;
}

.events__wrapper-div-open {
    height: auto;
}

.events__div {
    width: 500px;
    margin-bottom: 50px;
}

.events__div--description {
    height: 400px;
    border-right: 1px solid #CACACA;
    border-bottom: 1px solid #CACACA;
    border-left: 1px solid #CACACA;
    padding-bottom: 45px;
}

.events__h3-p-container {
    height: 190px;
}

.events__h3-p-a-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

.events__div--description-wrapper-p {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -10px;
    padding-top: 10px;
}

.events__p--place-date {
    max-width: 200px;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    margin-right: 20px;
    margin-top: 3px;
    color: #999999;
}

.events__h3 {
    margin: 0 50px;
}

.events__p {
    margin: 5px 50px 80px 50px;
}

.events__a {
    color: #9D5CD0;
    position: relative;
    margin-left: 50px;
    bottom: -12px;
    max-width: 102px;
    text-align: center;
}

.events__a::after {
    content: '';
    width: 95px;
    height: 1px;
    position: absolute;
    background-color: #9D5CD0;
    top: 28px;
    left: 0px;
}

.events__a:hover {
    font-weight: bold;
}

.events__a:focus {
    border: 2px solid #7943A4;
}

.events__a:active {
    color: #7943A4;
}

.events__button--align {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 80px 0;
}

.events__button {
    width: 188px;
    height: 59px;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #9D5CD0;
    color: #9D5CD0;
    background-color: transparent;
    margin: 0 auto;
}

/*editions*/

.editions__right-part {
    width: 74%;
    margin-top: 98px;
    padding-left: 2px;
}

.editions__h4--category {
    margin-top: 16px;
}

.editions__h4--price {
    margin-top: 27px;
}

.check {
    padding-left: 20px;
    padding: 2px 2px 2px 22px;
    border: 2px solid transparent;
}

.check:focus {
    border: 2px solid #7943A4;
    outline: none;
    padding: 2px 2px 2px 24px;
}

.check__box:focus {
    outline: none;
}

.check__box:focus .check {
    border: 1px solid #C283F3;
}

.check__input {
    position: absolute;
    -webkit-appeareance: none;
    appearance: none;
}

.check__box {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    margin-left: -24px;
    margin-top: 10px;
}

.check:checked .check__box {
    border: 1px solid #C283F3;
}

.check__input:checked>.check__box {
    border: 1px solid #C283F3;
}

.check__input:checked+span+span.check__box-text {
    color: #C283F3;
}

.check:hover {
    color: #C283F3;
}

.check:hover>span.check__box {
    border: 1px solid #C283F3;
}

.check__input:checked+.check__box {
    border: 1px solid #C283F3;
}

.check__input:checked+.check__box::after {
    content: "";
    width: 4px;
    height: 4px;
    top: 3px;
    left: 3px;
    border-radius: 10px;
    position: absolute;
    background-color: #9D5CD0;
}

.check:active .check__box {
    border: 1px solid #7943A4;
}

.check:active {
    color: #7943A4;
}

.editions {
    display: flex;
    justify-content: space-between;
    background-image: url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
}

.editions__price {
    max-width: 277px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #FFFFFF;
    padding: 0 10px;
    margin-bottom: 80px;
    margin-top: 6px;
}

.edition__input {
    width: 73px;
    height: 38px;
    background: rgba(157, 92, 208, 0.5);
    border-radius: 0;
    border: none;
    color: #FFFFFF;
    text-align: center;
    margin-left: 5px;
}

.edition__input--second {
    margin-left: 12px;
}

.edition__input:focus {
    outline: none;
}

h4 {
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
}

.edition__right-part {
    width: 70%;
}

/*swiper-container-2*/

.swiper-2 {
    width: 100%;
    height: 600px;
}

.swiper-slide__img {
        width: 100%;
        max-width: 350px;
}

div.swiper-style > div.swiper-button-prev-2, div.swiper-button-next-2 {
    margin-left: 23px;
}

.swiper-slide--p1, .swiper-slide--p2 {
    color: #FFFFFF;
    font-size: 16px;
}

.swiper-slide__img {
    margin-bottom: 15px;
}

div.swiper-pagination.swiper-pagination-2 {
    margin-bottom: 20px;
    margin-left: 80px;
}

.swiper-slide--p1 {
    font-weight: 700;
    line-height: 14px;
}

.swiper-slide--p2 {
    margin-bottom: 10px;
}

.editions__button {
    width: 120px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
    border: 2px solid #9D5CD0;
}

.swiper--description {
    display: flex;
    justify-content: space-between;
    padding: 0 33px;
}

.swiper--description--p-wrapper {
    text-align: left;
}

.swiper-slide--p-price {
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
}

/*progects*/

.progects__h2 {
    margin-bottom: 16px;
}

.progects__a {
    color: #9D5CD0;
}

.progects__h3 {
    margin-top: 17px;
}

.progects__p-wrapper {
    max-width: 1080px;
}

.progects__p {
    display: inline;
}

.swiper-3 {
    width: 100%;
    height: 200px;
}

.swiper-3 > .swiper-wrapper {
    margin-left: 47px;
    margin-top: 23px;
}

.swiper-3 > div.swiper-button-prev.swiper-button-prev-3 {
    top: 83px;
    left: 3px;
}

div.swiper-button-next.swiper-button-next-3 {
    top: 83px;
}

div.progects-swiper-slide {
    width: 450px;
    height: 150px;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%) opacity(.6);
    background-color: transparent;
    border: 1px solid #CACACA;
    text-align: center;
    padding-top: 44px;
}

.progects-swiper-slide:hover {
    -webkit-filter: grayscale(0); 
    filter: grayscale(0) opacity(1);
}

.progects-swiper-slide:hover {
    border: 1px solid #885BC7;
}

.progects__img {
    height: 63px;
}

/* tooltip */

.tooltip-area {
    padding: 20px 30px;
    width: 315px;
    font-size: 14px;
    line-height: 170%;
    color: #333;
    background: #fff;
}

.tooltip {
    position: relative;
    display: inline;
}

.tooltip__icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.tooltip__icon>svg {
    outline: none;
}

.tooltip__icon svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tooltip__icon path {
    transition: fill 0.3s;
}

.tooltip__content {
    position: absolute;
    left: 50%;
    bottom: calc(100% + 15px);
    padding: 5px 15px;
    max-width: 163px;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    width: max-content;
    background-color: #CACACA;
    ;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.tooltip__content::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    border-color: #CACACA transparent transparent transparent;
    transform: translateX(-50%);
}

.tooltip__icon:hover path {
    fill: #CCB26E;
}

.tooltip__icon:hover+.tooltip__content {
    opacity: 1;
    visibility: visible;
}

.tooltip__icon:focus path {
    fill: #CCB26E;
}

.tooltip__icon:focus+.tooltip__content {
    opacity: 1;
    visibility: visible;
}

/*contacts*/

.contacts__h2 {
    margin-bottom: 17px;
    margin-top: 53px;
}

.contacts__h4 {
    margin-bottom: 35px;
}

.contacts__p--request-call {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 11px;
}

.contacts__p--reach {
    font-size: 24px;
    margin-bottom: 20px;
}

.contacts__a {
    display: inline-block;
}

.contacts__a--whatsapp {
    margin-right: 15px;
}

.contacts__div-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts__left-part {
    height: 700px;
    padding: 124px 0 0 160px;
    border: 1px solid #CACACA;
}

.contacts__svg--mobile-connection {
    width: 39px;
    height: 39px;
}

.contacts__input {
    width: 400px;
    min-height: 40px;
    border-radius: 100px;
    padding: 5px 26px;
    border: 1px solid #333333;
    margin-bottom: 20px;
}

.contacts__input::placeholder {
    color: #999999;
}

.contacts__button {
    display: block;
    width: 157px;
    height: 59px;
    background-color: transparent;
    border: 1px solid #9D5CD0;
    margin-bottom: 35px;
    color: #9D5CD0;
}

.contacts__right-part {
    width: 100%;;
}

.map {
    max-width: 1200px;
    height: 700px;
}

[class*="ground-pane"] {
    filter: grayscale(1);
}

/*footer*/

footer {
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__svg--logo {
    width: 173px;
}

.footer__a:focus {
    border: none;
}

.footer__div-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 160px;
}

.footer__svg--social {
    width: 45px;
    height: 45px;
}

.footer__svg--social:nth-child(2) {
    margin: 0 20px;
}



